<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>My Bunker</h4>

                <p>
                    Some Address 987,<br/>
                    +12 3456 7890, <br/>
                    Madrid, Spain.
                </p>
            </div>
            <!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>My Links</h4>

                <p>
                    <a href="#">Dribbble</a><br/>
                    <a href="#">Twitter</a><br/>
                    <a href="#">Facebook</a>
                </p>
            </div>
            <!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>About ABRAWORLD</h4>

                <p>This web site was created just for fun</p>
            </div>
            <!-- /col-lg-4 -->

        </div>

    </div>
</div>