<div class="white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <form>
                    <input type="text" data-ng-model="credentials.username" required>
                    <input type="text" data-ng-model="credentials.password" required>
                    <button class="btn btn-primary" data-ng-click="login()">Login</button>
                </form>
                <a data-ui-sref="app.common.blog.list">Back to Blog</a>
                <!--<p><img src="{{user.profile.image.image}}" width="50px" height="50px">-->
                    <!--<ba> #{{user.id}} {{user.username}}</ba>-->
                <!--</p>-->
                <!--<p>-->
                    <!--<bd>January 18, 2014</bd>-->
                <!--</p>-->
                <!--<h4>#{{user.id}} {{user.title}}</h4>-->

                <!--<p>{{user.preview}}</p>-->

                <!--<p><a data-ui-sref="app.common.blog.user({id: user.id})">Continue Reading...</a></p>-->
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>